.span6.clearfix
  %a{:href => "/img/5.png"}
    %img.img-polaroid.pull-left{:src => "/img/5.png", :width => "90", :style => "margin-right:5px"}
  .address
    %strong Contact
    %br
    %a{:href => "mailto:me@94c3.com"} Email
    %br
    %a{:href => "http://twitter.com/94c3"} Twitter
    %br
    %a{:href => "http://github.com/94c3"} Github
    %br
    %a{:href => "http://reddit.com/user/94c3/"} Reddit
